* {
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', 'sans-serif';
}

.favListBtn {
	text-align: center;
}

.name {
	font-size: 20px;
}

.date {
	font-family: Calibri;
}

.eachOne {
	border: 2px solid black;
	margin-bottom: 10px;
}

.eachOne:hover {
	border: 2px solid red;
}

.invisible {
	display: none;
}

.favList {
	display: block;
}