* {
	box-sizing: border-box;
	font-family: 'Questrial', sans-serif;
}

body {
	font-family: 'Questrial', sans-serif;
	font-size: 15px;
	background-color: #323232;
}

button {
	font-size: 20px;
	background-color: transparent;
	color: white;
	border: none;
}

input {
	font-size: 15px;
	margin-top: 15px;
}

button:hover {
	color: #dd5757;
}

.header {
	margin-top: 20px;
}

.title {
	font-size: 28px;
	color: white;
}

.opening {
	color: white;
	font-size: 16px;
}

.logged-in {
	color: white;
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	color: #dd5757;
}

.js-login-fail {
	color: white;
}

.fav-list-btn {
	text-align: center;
}

.login-btn {
	margin-top: 10px;
}

.sign-up-user-btn {
	margin-top: 10px;
}

.date {
	font-family: 'Questrial', sans-serif;
}

.your-times-page {
	color: #dd5757;
	font-weight: bold;
	background-color: white;
	font-size: 20px;
	padding: 10px;
}

.each-one {
	border: 2px solid white;
	margin-bottom: 10px;
}

.each-one:hover {
	border: 2px solid white;
}

.this-ine {
	border: 2px solid yellow;
	margin-bottom: 10px;
}

.this-one:hover {
	border: 2px solid green;
}

.time-top {
	border: 2px solid white;
	margin-bottom: 10px;
}

.game-choice {
	background-color: black;
	color: white;
	padding: 5px;
}
#head-time {
	color: white;
}

.game {
	color: white;
	font-size: 20px;
}

.game-choice {
	font-family: 'Questrial', sans-serif;
}

.invisible {
	display: none;
}

.fav-list {
	display: block;
}

.your-games, .your-time, .home-page {
	width: 100%;
	border: 1px solid white;
	padding: 3px;
}

.home-page:hover {
	background-color: white;
	color: #dd5757;
}

.your-games:hover {
	background-color: white;
	color: #dd5757;
}

.your-time:hover {
	background-color: white;
	color: #dd5757;
}

.sign-up-page {
	padding: 8px;
	margin: 0 auto;
	text-align: center;
	color: white;
	margin-top: 15px;
	border: 1px solid white;
}

.login-box {
	padding: 8px;
	margin: 0 auto;
	text-align: center;
	color: white;
	margin-top: 0px;
	border: 1px solid white;
}

.sign-up-box {
	padding: 10px;
	width: 300px;
	margin: 0 auto;
}

.login-form {
	padding: 10px;
	width: 300px;
	margin: 0 auto;
}

.js-type-game {
	color: white;
}